* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  text-align: center;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}


.client-panel {
  position: relative;
  width: 30%;
  height: max-content;
  margin: 30px auto 20px auto;
  float:left;
  /* background-color: aqua; */
}

.part-panel {
  position: relative;
  width: 68%;
  height: max-content;
  margin: 30px auto 20px auto;
  float:right;
  /* background-color: rgb(7, 19, 19); */
}

.bottom-panel {
  position: relative;
  width: 100%;
  height: max-content;
  margin: 30px auto 0px auto;
  float:left;
}

.client {
  position: relative;
  width: 100%;
  margin: 1px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
}

.show-all button {
  position: relative;
  width: 100%;
  margin: 1px;
  border: transparent;
  background-color: #ecd187;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
}

.client h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "McLaren", cursive;
}

.client p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.part {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 100%;
  margin: 2px;
  float: left;
}
.part h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.part p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.search-form input {
  width: 85%;
  border: transparent;
  padding: 7px;
  outline: none;
  font-size: 0.9em;
  font-family: inherit; 
  resize: none;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.search-form button {
  position: relative;
  width: 14%;
  margin: 1px;
  border: transparent;
  background-color: #ecd187;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: right;
}

footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

