* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  text-align: center;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}


.client-panel {
  position: relative;
  width: 32%;
  height: 80vh;
  margin: 30px auto 20px auto;
  float:left;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: aqua; */
}

.part-panel {
  position: relative;
  width: 67%;
  height: 80vh;
  margin: 30px auto 20px auto;
  /* float: right; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: rgb(7, 19, 19); */
}

.bottom-panel {
  position: relative;
  width: 100%;
  height: max-content;
  margin: 30px auto 0px auto;
  float:left;
}

.client {
  position: relative;
  width: 99%;
  margin: 1px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
}

.client:hover {
  background-color: #ecd187;
}

.show-all button {
  position: relative;
  width: 99%;
  margin: 2px;
  border: transparent;
  background-color: #ecd187;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
}

.show-all button:hover {
  background-color: #f5ba13;
}

.client h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "McLaren", cursive;
}

.client p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.part {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 100%;
  margin: 2px;
  float: left;
}
.part h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.part p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.search-input {
  position: relative; /* Essential for absolute positioning of the icon */
}

.search-icon {
  position: absolute;
  left: 12px; /* Adjust for desired icon position */
  top: 50%;
  transform: translateY(-50%); 
  color: #888; /* Adjust icon color */
  margin-top: 17px;
}

.search-input input {
  width: 99%;
  margin: 2px;
  border: transparent;
  padding: 7px;
  padding-left: 30px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit; 
  resize: none;
  border-radius: 17px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
/* .search-form button {
  position: relative;
  width: 13%;
  margin: 1px;
  border: transparent;
  background-color: #ecd187;
  padding: 7px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
} */

.search-input p {
  padding: 5px;
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  font-style: italic;
  /* color: #ecd187; */
  color: #f5ba13
}

.create-client {
  position: relative;
  width: 99%;
  margin: 5px 1px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
  margin-bottom: 20px;
}
.create-client form input,
.create-client form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.create-client form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.create-part {
  position: relative;
  width: 99%;
  margin: 5px 1px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  float: left;
}
.create-part form input,
.create-part form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.create-part form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}



footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}

.result-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #ecd187;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 95%;
  z-index: 10;
}
 
.result-item {
  padding: 5px;
  cursor: pointer;
}
 
.result-item:hover,
.result-item.active {
  background-color: #e6f3ff;
}
